format 복습하기

In [2]:
"I really want to eat %d apples, but I only eat %s apples." % (5, "two")

'I really want to eat 5 apples, but I only eat two apples.'

In [3]:
"my percentage is  %0.2f" % 0.983

'my percentage is  0.98'

In [7]:
"i hope you understand %0.9f" %0.5623

'i hope you understand 0.562300000'

In [10]:
"i eat {0} apples and also I eat {1} banana".format("three",  2)

'i eat three apples and also I eat 2 banana'

In [11]:
num = 10
day = "four"
"I ate {0} apples, so I was sick for {1} days.".format(num, day)

'I ate 10 apples, so I was sick for four days.'

In [14]:
"i ate {num} apples, so I was sick for {day} days.".format(num= 5, day="five")

'i ate 5 apples, so I was sick for five days.'

In [20]:
"I ate {0} apples, so I was sick for {day} days.".format(5, day="five")

'I ate 5 apples, so I was sick for five days.'

In [27]:
# formatting 할때 유의점
# 앞에 변수를 선언하면, 뒤에도 변수 선언해야한다.

"I ate {num} apples, so I was sick for {1} days.".format(num=5, 4)

SyntaxError: positional argument follows keyword argument (<ipython-input-27-01ee7fef213f>, line 1)

In [28]:
# 정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:^10}".format("hi"))

hi
        hi
    hi

문자열은 더이상...노우...그만할래..






문자열 관련 함수들

In [3]:
a = "hobby"
a.count('b')

2

In [4]:
a = "I love you"
a.find('o')
# o가 처음으로 나오는 위치 리턴

3

In [5]:
a.find('k')
# k가 없는 상태에서 find()를 사용하면 -1으로 리턴한다

-1

In [6]:
a.index('y')

7

In [7]:
a.index('k')
# k가 없는 상태에서 index()를 사용하면 에러가 난다.

ValueError: substring not found

In [30]:
",".join('abcd')

'a,b,c,d'

In [15]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [18]:
a = 'hi'
a.upper()

'HI'

In [21]:
a = 'HI'
a.lower()

'hi'

In [22]:
a = " hi "
print(a.lstrip())
print(a.rstrip())
print(a.strip())

hi
 hi
hi

In [26]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [27]:
a.split()

['Life', 'is', 'too', 'short']

In [28]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

--------------------------------

In [31]:
odd = [1,2,3,4,5]
odd

[1, 2, 3, 4, 5]

In [32]:
odd[0]

1

In [34]:
odd[2] + odd[4]

8

In [36]:
odd[-1]

5

In [37]:
a = [1,2,3,[4,5,6]]
a[-1]

[4, 5, 6]

In [38]:
a[0]

1

In [39]:
a[-1][0]

4

In [40]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [41]:
a=[1,2,3,['a', 'b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [42]:
a[3][:2]

['a', 'b']

In [43]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [46]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [47]:
len(a)

3

In [57]:
a = [1,2,3]
a[1] = 4
a

[1, 4, 3]

In [58]:
del a[1]
a

[1, 3]

In [60]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [61]:
a.append([5,6,7])
a

[1, 2, 3, 4, [5, 6, 7]]

In [62]:
a = [1,5,6,3,2]
a.sort()
a

[1, 2, 3, 5, 6]

In [63]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [64]:
a.reverse()
a

['c', 'b', 'a']

In [65]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [66]:
a = [1,2,3]
a.index(3)

2

In [71]:
a= [1,2,3,1,2,3]
a.remove(3)
a

# remove는 첫번째로 나오는 변수만 삭제한다

[1, 2, 1, 2, 3]

In [72]:
a.remove(2)
a

[1, 1, 2, 3]

In [74]:
a = [1,2,3]
print(a.pop())
a

3

[1, 2]

In [75]:
a = [1,2,3,1]
a.count(1)

2

In [77]:
a = [1,2,3,]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [78]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]