튜플 자료형

In [1]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))

In [2]:
t1 = (1,2, 'a', 'b')

In [3]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [4]:
t1 = (1,2,'a', 'b')

In [5]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [7]:

t1 = (1,2,'a', 'b')

In [8]:
t1[0]

1

In [9]:
t1[3]

'b'

In [10]:
t1=(1,2,'a','b')

In [11]:
t1[1:]

(2, 'a', 'b')

In [2]:
t1 = (1,2,'a','b')
t2 = (3,4)

t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [3]:
t4 = t2 * 2
t4

(3, 4, 3, 4)

In [4]:
len(t3)

6